# Pintos 빌드 중간 파일 및 산출물
*.o
*.d
*.out
*.bin
*.elf
*.img
*.map
*.lst
*.log
*.qemu
*.raw
*.hex
*.dis
*.dump

# 빌드 디렉터리
**/build/
**/bin/
**/obj/
**/output/
# core dump
core

# 임시 파일
*~
*.swp

# macOS
.DS_Store

# VSCode
.vscode/
!.vscode/settings.json

# 98jh-shin
.idea
.clang-format
CMakeLists.txt
/pintos/.nuget/
/pintos/.java/
/pintos/.gitconfig

# krsy0411
**/userprog/.test_status
**/threads/.test_status
**/vm/.test_status
**/filesys/.test_status